*{
    margin: 0;
    padding: 0;
    overflow: hidden;
      
}

.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: roboto;
    background-image: url(imgs/calabaza-halloween-11768.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteudo{
    width: 300px;
    height: 500px;
    margin-top: 20%;
    padding: 50px;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: 0px 50px 50px 10px black;
    position: relative;
}

.conteudo > img{
    width: 50%;
    border-radius: 50%;
}

.conteudo h1{
    margin: 15px auto 0 auto;
    font-size: 30px;
    color: white;
    text-shadow: 0px 5px 4px black;
}

.buttons{
    width: 100%;
    margin: 50px auto;
}

.buttons a{
    width: 100%;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right , rgb(0, 0, 0), rgb(155, 81, 224));
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    
    transition: 0.5s ease-in;
}


.buttons a:hover{
    box-shadow: 0px 5px 15px black;
    /* background-image: linear-gradient(to left , rgb(0, 0, 0), rgb(155, 81, 224)); */
}




.links{
    position: relative;
    
}

.links img{
    width: 25px;
    margin: 15px;
    
}

.links a{
    text-decoration: none;
}