*{
    margin: 0;
    padding: 0;
    overflow: hidden;
      
}

.container{
    font-family: roboto;

    position: relative;
    text-align: center;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(imgs/walleu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.conteudo{
    min-width: 20vw;
    max-height: 80dvh;

    padding: 50px;
    backdrop-filter: blur(3px);
    border-radius: 50px;
    border: solid 1px white;
    box-shadow: 0px 50px 50px 10px black;
}

.conteudo > img{
    width: 30vh;
    border-radius: 50%;
}

.conteudo h1{
    margin: 15px auto 0 auto;
    font-size: 1.8em;
    color: white;
    text-shadow: 0px 3px 3px black;

    font-family: Pinyon Script;
    font-weight: 550;
}

.buttons{
    width: 100%;
    margin: 2em auto;
}

.buttons a{
    width: 100%;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(155, 81, 224));
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    
    position: relative;
}


.buttons a:hover{
    box-shadow: 0px 3px 3px black;
}

.buttons a::before{
    content: '';

    width: 100%;
    position: absolute;
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
}

ul li:hover ::before{
    opacity: 1;
}







@media screen and (max-width: 640px){



}








/* Links */

ul{
    list-style-type: none;
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;

}

li{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 60px;

    transition: 1s; 

    display: flex;
    align-items: center;
    justify-content: center;
}

ul li span{
    position: absolute;
}

ul li:hover{
    width: 100px;
}

ul li .icon{
    width: 25px;
    transition: 1s;
    transition-delay: .2s;

}

ul li .text{
    color: rgb(255, 255, 255);
    transform: scale(0);
    transition: 1s;
    transition-delay: .2s;

    font-family: roboto;
}

ul li:hover .text{
    transform: scale(1);
}

ul li:hover .icon{
    transform: scale(0);
}





/* JANELA POP UP DO BOTÃO PORTIFÓLIO */

.modal{
    position: absolute;
    color: white;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    border: solid 2px;
    top: -20px;


    padding: 10px;
    margin: 30px;
    opacity: 0;
}

.modal h1{
    padding-bottom: 20px;
    color: red;
}

.modal h2{
    padding: 40px 80px;
    text-shadow: black 2px 2px 2px;
}


